body {background-image: url(../../assets/images/depositphotos_14937965-stock-illustration-rockroll-stage-cartoon.jpg);
    
    background-size: cover; 
    
    text-align: center;
}

h1 {
	font-family: "Comic Sans MS", cursive, sans-serif;	
	
	font-size: 48px;
	
	margin: 20px;
	text-shadow:
			-1px -1px 0 #FFFFFF,  
			1px -1px 0 #FFFFFF,
			-1px 1px 0 #FFFFFF,
			1px 1px 0 #FFFFFF;
	display: block;
}

h2 {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 28px;
	margin: 10px 50px;
	text-shadow:
			-.5px -.5px 0 #FFFFFF,  
			.5px -.5px 0 #FFFFFF,
			-.5px .5px 0 #FFFFFF,
			.5px .5px 0 #FFFFFF;
	display: block;
}
h4 {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 15px;
	text-align: center;
	display: inline-block;
}
h5 {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 15px;
	text-align: center;
}

img {
	width: 200px;
	height: 100px;
	margin: 0px 10px;
}



.character {
	background-color: #FFFFFF;
	width: 220px;
	border: 4px solid #000;
	margin-left: 50px;
	margin-top: 5px;
	display: inline-block;
	opacity: .5;
}

button {
	color: #000;
	background-color: #D9AF8B;
	margin: 10px 50px;
}

.winButton {
	margin: 0px 0px;
}


.selectedOpponent {
	background: #e85d5d;
}

.selectedHero {
	background-color: #B8F4CC;
}



